*{
    margin:0px;
    padding:0px;
    
}
body{
   height:100%;
   display:flex;
   flex-direction: column;
      /* justify-content: center; horizontal alignment */
  /* align-items: center;  */
  background-color: rgba(117, 11, 11, 0.68);
}

#name{

    width:50vw;
    /* background-color: pink; */
    height:200vh;
    font-size:80px;
     /* font-family: "Caveat", cursive; */
       font-family: "Caprasimo", serif;
       font-weight: 100;
       /* margin-top:vh; */
       color:rgb(245, 239, 239);
      
}
#name>#title{
    color:black;
}
#button{
    height:8vh;
    width:8vh;
    background-color:rgba(115, 27, 27, 0.614);
    margin-left:1vw;
    /* display:flex;
    justify-content: space-around;  */
    padding-top:1%;
    border-radius:10%;
}
.line{
   background-color: black;
   margin-top: 10%;
   height: 20%;
   width: 100%;
   display:block;
   border-radius: 20% ;
}
#list{

    background-color: red;
    height:200vh;
    width:50vw;
    position:relative;
    margin-left:auto;
    
}
footer{
    text-align: center;
    /* position: absolute; */
    bottom:0px;
    left:40vw;
}
footer > div{
font-size:20px;
color:black;

    /* text-align:center; */
}
#wrap{
    flex:1;
}
content{
    display:flex;
    flex-direction:row;
}
